@import "tailwindcss";

@theme {
  --color-primary: var(--color-indigo-500);
  --color-accent: var(--color-pink-500);
  --color-background: var(--color-stone-950);
  --color-foreground: var(--color-stone-100);
}